<div class="shadow">
    <div class="user-card">
        <div class="user-image">
            <img src="" alt="">
        </div>
        <div class="contact">
        </div>
        <h4 style="font-weight: bold; letter-spacing:2px;">author</h4>
        <h3 class="profile-name"><span style="font-weight:bold;">Name</span> <span>:<%= post.author.username %> </span>
        </h3>
        <h3 class="profile-name"><span style="font-weight:bold;">Email ID</span> <span>: <%= post.author.email %></span>
        </h3>
        <!-- <h3 class="profile-name"><span style="font-weight:bold;">position</span> <span>: <%= post.author%></span></h3> -->
        <!-- <h3><a href="/users/<%=post.author._id%>">view profile</a></h3> -->
    </div>
</div>