/* Default styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
}

@font-face {
    font-family: "Pangram-Regular";
    src: url("/fonts/Pangram-Regular.otf");
  }

header, nav{
    width: 100vw;
    position: relative;
}

#navbar {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.424);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-image: url(../media/navbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1;
    letter-spacing: 0.5px;
    

}
.nav-links{
    display: flex;
    height: 20px;
    align-items: center;
    font-family: "Pangram-Regular";
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#search{
    width: 10vw;
    border-radius: 10px;
}
#login a{
    background-color: initial;
    color: #000000;
    font-weight: bold;
}


.links a{
    text-decoration: none;

    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover{
    text-decoration: none;
    color: black;
   
}


.links{
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-icons{
    width: 35px;
    margin: 8px;
    
}

#logo{
    width: 150px;
}
#name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(148, 235, 108, 0.611);
}
#signup{
    background-color: #FFCFCB;

}
#logout{
    background-color: rgba(235, 114, 108, 0.883); 
    transition: all 200ms ease-in-out; 
}
#logout:hover{
    background-color: #0FD8C2;
    
    /* border-radius: 30px;  */
}
#profile-pic{
    border-radius: 100%;
    transition: border 200ms ease-in-out; 

}

#profile-pic:hover{
    border: 0.5px solid grey
}

.the-a {
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
    line-height: 40px;
  }
  
  .the-a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #caa800;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .the-a:hover::after {

    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #signup:hover{
    color: white; 
}

#name:hover{
    display: flex;
    justify-content: center;
    align-items: center;

}