.profile-panel{
    display: flex;
}
.profile-main-div{
    width: 60%;
    display: flex;
    justify-content: center;
    /* background-color: rgba(82, 123, 172, 0.373);
     */
     background-image:url(../media/bg11.jpg) ;
}
.about-card{
    width: 40%;
    background-color: antiquewhite;
    margin: 10px;
    height: min-content;
    padding: 10px;
}
.about-card h2{
    font-size: 30px;
    margin: 8px;

    letter-spacing: 0.5px;
}
.about-card p{
    font-size: 20px;
}
.profile-cover{
    display: flex;/* display: flex; */
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* background-color: rgba(138, 172, 82, 0.373); */
    background-image: url(../media/bg11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-cover img{


}

.card-details{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    /* background-color: red; */
}

.details p{
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: black; */
}
.details h2{
    font-size: 30px;
    font-family: Pangram-Regular";
}



.profile-main-div p{
    margin: 20px;
    margin-left: 35px;
  font-family: "Pangram-Regular";
    font-size: 20px;

}
.profile-pic{
    width: 200px;
    border-radius: 100%;
}
.socials{
  
   
    position: relative;
    bottom:90px;
    left:200px;
    /* background-color: blue; */
}

 /* background-image: url(../


/* Icon SEt */
/*
    Auther: Abdelrhman Said
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper{
    /* background: #ddd; */
    /* padding: 50px; */
    text-align: center;
}

.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #1b275cb7;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}