<% layout('layouts/mainIndex.ejs')-%>
    <link rel="stylesheet" href="../stylesheets/form-styles.css">

    <div class="comi">

        <h2>Idea</h2>

        <form action="/posts" method="POST" enctype="multipart/form-data">

            <div class="section-form">
                <div class="input">
                    <label for="name">
                        <input type="text" required name="post[name]"" placeholder="Name your Idea" class="input-area">
                    </label>
                </div>

                <div class="input">
                    <label for="password">
                        <input type="text" required name="post[topic]" placeholder="Topic of your Idea" class="input-area">
                    </label>
                </div>

            </div>
            <div class="input section-form">
                <textarea name="post[caption]" id="" placeholder="Create a caption" class="input-area"></textarea>
            </div>
            <div class="input section-form">
                <textarea name="post[description]" id="" placeholder="Describe your idea" class="input-area"></textarea>
            </div>
            <div class="input section-form">
                <label for="password">Improved</label>
                <input type="radio" required name="post[status]"  class="input-area">


                <label for="password">New Idea</label>
                <input type="radio" required name="post[status]" class="input-area">

                <label for="password"Idea your Idea">solution</label>
                <input type="radio" required name="post[status]" class="input-area">

            </div>
            <div class="input section-form">

                <label for="password">
                    <input type="text" required name="post[link]" placeholder="Reference Link" class="input-area">
                </label>
            </div>
            <div class="section-form">

                <div class="">
                    <label for="images" style="margin:10px">Upload Tumbnail</label><br>
                    <input type="file" accept="images/*" name="images"><br />
                </div>
                <div class="">
                    <label for="images" style="margin:10px">Choose Images</label><br>
                    <input type="file" accept="images/*" name="images" multiple><br />
                </div>
                </label>
            </div>
            <div style="display: none;">
                <input type="radio" required name="post[typeOf]" value="idea" checked="checked">
            </div>
            <button type="submit" class="input">Upload</button>
        </form>

    </div>