<% layout('layouts/mainIndex.ejs')-%>
    <link rel="stylesheet" href="../stylesheets/form-styles.css">

    <div class="comi">

        <h2>Project</h2>

        <form action="/posts" method="POST" enctype="multipart/form-data">

            <div class="section-form">
                <div class="input">
                    <label for="name">
                        <input type="text" required name="post[name]"" placeholder=" Project Name" class="input-area">
                    </label>
                </div>

                <div class="input">
                    <label for="password">
                        <input type="text" required name="post[topic]" placeholder="Project Topic" class="input-area">
                    </label>
                </div>

            </div>
            <div class="input section-form">
                <textarea name="post[caption]" id="" placeholder="Caption" class="input-area"></textarea>
            </div>
            <div class="input section-form">
                <textarea name="post[description]" id="" placeholder="description" class="input-area"></textarea>
            </div>
            <div class="input section-form">
                <label for="password">on going</label>
                <input type="radio" required name="post[status]" placeholder="Project Topic" class="input-area">


                <label for="password">completed</label>
                <input type="radio" required name="post[status]" placeholder="Project Topic" class="input-area">

                <label for="password">project Idea </label>
                <input type="radio" required name="post[status]" placeholder="Project Topic" class="input-area">

            </div>
            <div class="input section-form">

                <label for="password">
                    <img src="../media/github-mark.png" width="30px" alt="">
                    <input type="text" required name="post[link]" placeholder="Project Link" class="input-area">
                </label>
            </div>
            <div class="section-form">

                <div class="">
                    <label for="images" style="margin:10px">Upload Tumbnail</label><br>
                    <input type="file" accept="images/*" name="images"><br />
                </div>
                <div class="">
                    <label for="images" style="margin:10px">Choose Images</label><br>
                    <input type="file" accept="images/*" name="images" multiple><br />
                </div>
                </label>
            </div>
            <div style="display: none;">
                <input type="radio" required name="post[typeOf]" value="project" checked="checked">
            </div>
            <button type="submit" class="input">Upload</button>
        </form>

    </div>